.idea
# PlantSubscription frontend ignores
frontend/PlantSubscription/node_modules/
frontend/PlantSubscription/.env
frontend/PlantSubscription/.env.*
frontend/PlantSubscription/.next/
frontend/PlantSubscription/dist/
frontend/PlantSubscription/build/
